<h1>Inventory Categories</h1>

<table border="1">
<tr>
	<th>Category</th>
	<th>Dynamic Link</th>
</tr>
<% @categories.each do |c| %>
	<tr>
		<td><%= link_to c.category, category_list_path(c.category) %></td>
		<td>"/inventory/category/<%= c.category %>"</td>
	</tr>
<% end %>
</table>