<h1>Country Controller - State Options</h1>

<ul>
	<li><%= link_to "All States", country_all_states_path %></li>
	<li><%= link_to "Top five populous states", country_top_five_population_path %></li>
</ul>