<header>
<ul class="navigation">
	<li class="navigation"><%= link_to "Home", root_path %></li>
	<li class="navigation"><%= link_to "States", states_path %></li>
	<li class="navigation"><%= link_to "Country", country_path %></li>
	<li class="navigation"><%= link_to "Activities", activities_path %></li>
</ul>
</header>